#cover-container {
    position: relative;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4)), url("../../../assets/images/cover.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    nav.navbar {
        background: rgba(255, 255, 255, 0.5) !important;
        transition: .3s linear all;

        &.solid {
            background: #fff !important;
        }
    }

    div.header-container {
        height: 100%;

        >div.row {
            height: 100%;
            padding-top: 56px;

            .login-container-outter {
                background: rgba(255, 255, 255, 0.5);
            }

            .covertext-container-outter {
                h1 {
                    text-shadow: 1px 1px 0 #7A7A7A;
                }
            }
        }
    }
}